<h1><%= @band.name %> is playing these concerts: </h1>

<% @concerts.each do |concert| %>
  <div class="concert-item">
    <h3>Tour Name: <%= concert.concert_title %></h3> 
    <h3>Venue: <%= concert.venue.name %></h3>
    <h3>Date: <%= concert.date %></h3>
    <br>
  </div>
<% end %>