<h1>Welcome to TicketNoob</h1>
<a href="/concerts">Find a Concert</a>
<a href="/users/concerts">Concerts Going to</a>
<form action="/bands" method="POST">
  <p>Find by Band: </p>
  Band Name:<input type="text" name="name">
  <input type="submit" value="Find Concerts">
</form>